p {
  font-size: 18px;
  margin-top: 0 !important;
}

hr {
  margin-top: 40px;
  border-top: 1px solid #e2e6ec;
}

.extra-class {
  margin-bottom: 35px;
}

.example {
  margin-bottom: 30px;
  margin-top: 25px;
}

h3 {
  padding-bottom: 14px;
}

strong {
    font-weight: 700;
    color: #000;
    font-style: italic;
}
